/* h2, h3
{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
} */

.main-content
{
    color:white;
    background-color:rgba(14, 14, 14, 0.8);
}

.round-border
{
    border-radius: 15px;
}

#word-to-guess{
    letter-spacing: 10px;
}

#repeated-letter-error{
    visibility: hidden;
}

.main-color
{
    color:yellow;
    font-weight: bolder;
    text-align: center;
}

.red
{
    color:red;
    font-weight: bolder;
    text-align: center;
}

.line-height{
    line-height: 0.8;
}

/* Stuff for animated sprite */
/* .frog{
    width: 90px;
    height: 82px;
    background: url('../images/FrogAtlas.png') left center;
    animation: play 0.8s steps(4) infinite;
    position: fixed;
    left:30%;
    bottom: 50px;
}

@keyframes play {
    100% { background-position: -359px; }
 } */


.bg{
    position: fixed;
    bottom: 0;
}


body
{
    background-image: url("../images/background.png");
    background-size: auto; 
    background-repeat: repeat;
    background-position: top center; 
}

hr
{
    height:1px;
    width:60%;
    background-color:#f9f9f9;
}


